body {
    background-color: #37271B;
}

#canvas {
    margin-left: 80px;
}

#title {
    font-size: 24pt;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    color: #E4D5EC;
}

#controls {
    color: #E4D5EC;
    font-size: 16pt;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    margin-left: 80px;
}

#colors {
    margin-right: 160px;
}

#vdm {
    height: 60px;
}

@media only screen and (max-width: 767px) {
    #controls {
        flex-direction: column;
        align-items: start;
    }
    #widthHeight {
        display: flex;
        flex-direction: column;
    }
}